body {
background-color: #fafafa;
}
.no-decotext{
    text-decoration: none;
}

.menu {
    min-width: 700px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #ED1C24;
    border-radius: 50%;
    display: inline-block;
  }

  .nn {
    display: flex !important;
  }

.link-menu {
    color: #242424;
    text-decoration: none;
}
.link-menu:hover {
    color: #242424;
    text-decoration: none;
}

.producto {
    opacity: 0.7;
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}
.producto:hover {
    opacity: 0.2;
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.quienes {
    background-color: var(--vitalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}
.quienes:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.nosotros {
    background-color: var(--ritalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}
.nosotros:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.button-r {
    background-color: var(--ritalia);
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-top: 0.5rem !important; 
    padding-bottom: 0.5rem !important; 
    box-shadow: none !important;
    border-radius: 50px;
    color: var(--blanco);
    border: 1px solid;
    border-color: var(--blanco);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    text-decoration: none !important;
}

.button-r:hover{
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    color: var(--blanco);
}

.visto {
    visibility: visible !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.oculto {
    visibility: hidden !important;
    position: absolute !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}